apiVersion: batch/v1
kind: Job
metadata:
  name: sqs-{{ .Values.name }}-{{ .Values.devstack_label }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "3"
    janitor/ttl: "{{ .Values.ttl }}"
  namespace: sqs-configurator
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 0
  template:
    metadata:
      labels:
        name: irc
    spec:
      containers:
        - image: 'razorpay/devstack:sqsc'
          imagePullPolicy: IfNotPresent
          name: sqsc
          resources:
            limits:
              cpu: 100m
              memory: 100Mi
            requests:
              cpu: 100m
              memory: 100Mi
          volumeMounts:
          - name: config-volume
            mountPath: /src/config
      imagePullSecrets:
        - name: registry
      nodeSelector:
        node.kubernetes.io/worker-generic: ''
      volumes:
        - name: config-volume
          configMap:
            name: sqs-{{ .Values.name }}-{{ .Values.devstack_label }}
      restartPolicy: Never
